.logo img {
  height: 150px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.home-container {
  margin-top: 50px;
  margin-bottom: 200px;
}

.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  z-index: 999999;
}
.categories {
  margin-top: 50px;
  margin-bottom: 50px;
}
.categories img {
  margin-bottom: 20px;
}

.how-it-work {
  margin-left: -3px;
  margin-bottom: 20px;
  height: 70px;
}

.default-bg-1 {
  background-image: url(/assets/img/img-bg/1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.default-bg-2 {
  background-image: url(/assets/img/img-bg/2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.default-bg-3 {
  background-image: url(/assets/img/img-bg/3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.default-bg-4{
  background-image: url(/assets/img/img-bg/4.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.default-bg-5{
  background-image: url(/assets/img/img-bg/5.png);
  background-repeat: no-repeat;
  background-size: contain;
}

