img {
    opacity: 0.6;
  }
  .card-img-overlay{
    padding-top: 25%;
  }
  .card-img-overlay h3 {
    color: #ffffff;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  .main-content {
    margin-top: 50%;
  }
  
  .all-view {
    font-size: 20px;
  }
  