<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>
    </div>
    <div>
        <div class="container mb-5">
            <div class="col px-0">
                <h1 class="lead text-center text-red font-weight-500">Nasıl Çalışır?</h1>
            </div>
        </div>
        <div class="container mb-3">
            <div class="card mt-3">
                <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=1"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Öncelikle yapmak istediğiniz aktiviteyi karar verin.</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card mt-3">
                <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=2"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Size en uygun kategoriyi seçerek daha iyi bir deneyim hedefleyin.</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card mt-3">
                <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=3"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Size en uygun mekanı bulmamız için mekanda olmazsa olmaz dediğiniz
                        özellikleri belirleyin.</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card mt-3">
                <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=4"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">İşte bu kadar! Önerdiklerimizden size en uygun mekanı seçerek tadını
                        çıkartın.</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</main>