<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0 content-background">

        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="text-center mt-5">
                        <h1>{{blog.Title}}</h1>
                        <div class="h6 font-weight-300">{{blog.RecordDate | date:'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <p>
                                {{blog.Text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>