<div class="row main-content">
  <div class="col-12">
    <p class="lead text-red font-weight-500 text-center mb-50">Sizin özel hazırladığımız listeler</p>
  </div>
  <div class="col-6 mb-3" *ngFor="let content of mainContents;index as i">
    <a href="#/content-details?contentId={{content.Id}}">
      <div class="card bg-dark text-white">
        <img class="card-img" src="{{content.ImageUrl}}" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title text-center">{{content.Name}}</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4">
  </div>
  <div class="col-4">
    <p><a class="text-red" href="#/content-list">Tümünü gör</a></p>
  </div>
</div>