<div class="row ">
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/ayasofya.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Tarihi yarımada mekanları</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/galata.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Galata geceleri</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/balat.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Balatın yeni mekanları</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/balat.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Balatın yeni mekanları</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/galata.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Galata geceleri</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 mb-3">
    <a href="#/content-details">
      <div class="card bg-dark text-white">
        <img class="card-img" src="./assets/img/content/ayasofya.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Tarihi yarımada mekanları</h3>
        </div>
      </div>
    </a>
  </div>
</div>