<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
  </div>
  <div>
    <div class="container mb-3">
      <div class="col px-0">
        <h1 class="lead text-center text-red font-weight-500">Gittiğim mekanlarım</h1>
      </div>
    </div>
    <div class="container">
      <div class="card mt-3" *ngFor="let place of visitedPlaces;index as i">
        <a href="#/details?placeId={{place.Id}}">
          <div class="card-body">
            <h5 class="card-title">{{place.Name}}
              <div class="float-right star-color" *ngFor='let in of counter(place.AveragePoint)'>
                <i class="fa fa-star"></i>
              </div>
            </h5>
            <h6 class="card-subtitle text-muted">
              {{place.PlaceShortLocation}}
            </h6>
            <hr class="mb-1" />
            <p class="card-text text-muted" [ngClass]="{'d-none' : place.TotalComment==0}">Hakkında toplam
              {{place.TotalComment}} yorum yapılmış.</p>
            <p class="card-text text-muted" [ngClass]="{'d-none' : place.TotalVisited==0}">Toplam {{place.TotalVisited}}
              kişi tarafından ziyaret edilmiş.</p>
            <p class="card-text text-muted">Bu mekana ilk defa {{place.RecordDate | date:'dd/MM/yyyy'}} tarihindegittin.
            </p>
          </div>
        </a>
      </div>
      <div class="alert alert-secondary btn-red" [ngClass]="{'d-none' : visitedPlaces > 0}" role="alert">
        Henüz önerdiğimiz hiç bir mekana gitmedin..
       </div>
    </div>
  </div>
</main>