<main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
      </section>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <p class="lead text-white text-center"><i class="ni ni-pin-3"></i> {{localData.get("districtName")}}</p> 
          <p class="lead text-red font-weight-500 text-center">İşte tam size göre mekanlar</p>          
        </div>
      </div>
      <div class="text-center mt-5">
        <div class="row">
            <div class="col-md-3 col-lg-3 mb-3 mb-lg-0" *ngFor="let place of suggestionPlaces;index as i">
              <a href="#/details?placeId={{place.Id}}">
              <div class="px-4">
                <img src="https://dummyimage.com/200x200/f0f0f0/000000&text={{place.Name[0]}}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small class="h6 text-muted placeName">{{place.Name}}</small>
                    <span class="d-block mb-1 placeShortDesc">{{place.ShortDescription}}</span>
                  </h5>
                  <div class="mt-3 mt-3">
                    <span class="badge badge-pill badge-secondary placeProp">Sakin</span>
                    <span class="badge badge-pill badge-secondary placeProp">Çalışma ortamı</span>
                    <span class="badge badge-pill badge-secondary placeProp">Deniz Manzarası</span>
                  </div>
                </div>
              </div>
            </a>
            <hr />
            </div>
          </div>
    </div>
   
    </div>
    <!-- <app-sections></app-sections> -->
  </main>
  