<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
    </section>
    <div class="container shape-container d-flex">
      <div class="col px-0">
        <p class="lead text-white text-center"><i class="ni ni-pin-3"></i> {{localData.get("districtName")}}</p>
        <p class="lead text-red font-weight-500 text-center">İşte tam size göre mekanlar</p>
      </div>
    </div>
    <div class="text-center mt-5">
      <div class="row text-center">
        <div class="card my-card" *ngFor="let place of suggestionPlaces;index as i">
          <a href="#/details?placeId=?{{place.Id}}">
          <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=a" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">{{place.Name}}</h1>
            <p class="card-text">{{place.ShortDescription}}</p>
          </div>
          <div class="card-body">
            <span class="badge btn-red badge-pill badge-secondary placeProp">Sakin</span>
            <span class="badge btn-red badge-pill badge-secondary placeProp">Çalışma ortamı</span>
            <span class="badge btn-red badge-pill badge-secondary placeProp">Deniz Manzarası</span>
          </div>
        </a>
        </div>
        <div class="alert alert-secondary btn-red not-suggestion" [ngClass]="{'d-none' : suggestionPlaces.length > 0}"
          role="alert">
          Üzgünüz..<br /> Sana göre bir mekan bulamadık.. Kategori ve özellikleri daha geniş tutarak tekrar aramayı
          deneyebilirisin.
        </div>
      </div>

    </div>
  </div>
</main>