<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <img src="./assets/img/img-bg/default.jpg" class="page-bg-image" alt="blog-image">

      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
    </section>
    <section class="section">
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <p class="lead text-red text-center mt-5"><i class="ni ni-pin-3"></i> {{localData.get("districtName")}}</p>
          <p class="lead text-red font-weight-500 text-center">İşte tam size göre mekanlar</p>
        </div>
      </div>
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-3 text-center" *ngFor="let place of suggestionPlaces;index as i">
            <a href="#/details?placeId={{place.Id}}">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="{{place.MainImage}}"
                    onerror="this.src='./assets/img/img-place/default.jpg';" alt="Card image">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{place.Name}}</h3>
                        <p class="card-text">{{place.PlaceShortLocation}}</p>
                    </div>
                </div>
            </a>
        </div>
          <div *ngIf="suggestionPlaces==0" class="alert alert-secondary btn-red not-suggestion" role="alert">
            Üzgünüz..<br /> Sana göre bir mekan bulamadık.. Kategori ve özellikleri daha geniş tutarak tekrar aramayı
            deneyebilirisin.
          </div>
          <div class="col">
            <a href="#/default" class="btn btn-red" type="button">Tekrar arama yap</a>
          </div>
        </div>
      </div>
    </section>


    <!-- <div class="text-center mt-5">
      <div class="row text-center">
        <div class="card my-card" *ngFor="let place of suggestionPlaces;index as i">
          <a href="#/details?placeId={{place.Id}}">
          <img class="card-img-top" src="https://dummyimage.com/250x250/f0f0f0/000000&text=a" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">{{place.Name}}</h1>
            <p class="card-text">{{place.ShortDescription}}</p>
          </div>
          <div class="card-body">
            <span class="badge btn-red badge-pill badge-secondary placeProp">Sakin</span>
            <span class="badge btn-red badge-pill badge-secondary placeProp">Çalışma ortamı</span>
            <span class="badge btn-red badge-pill badge-secondary placeProp">Deniz Manzarası</span>
          </div>
        </a>
        </div>
        <div *ngIf="suggestionPlaces==0" class="alert alert-secondary btn-red not-suggestion" role="alert">
          Üzgünüz..<br /> Sana göre bir mekan bulamadık.. Kategori ve özellikleri daha geniş tutarak tekrar aramayı
          deneyebilirisin.
        </div>
        <div class="col">
          <a href="#/default" class="btn btn-red" type="button">Tekrar arama yap</a>
        </div>
      </div>
    </div> -->
 
</main>