<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped default-bg">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
  </div>
  <div>
    <div class="container shape-container d-flex">
      <div class="col px-0">
        <h1 class="lead text-center text-red font-weight-500">Mekanın en çok tercih edilenleri</h1>
      </div>
    </div>
    <div class="container">
      <div class="card mt-3" *ngFor="let product of placeProducts;index as i">
        <a href="#/details?placeId={{placeId}}">
          <div class="card-body">
            <h5 class="card-title">{{product.Name}}
              <p class="float-right">
                {{product.Price}}₺
              </p>
            </h5>
            <hr class="mb-1" />
            <p class="card-text text-muted">{{product.Text}}</p>
          </div>
        </a>
      </div>
      <div class="alert alert-secondary btn-red" [ngClass]="{'d-none' : placeProducts.length > 0}" role="alert">
        Ürün bulunamadı..
     </div>
    </div>
</div>
</main>

