<main>
    <div>
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <p class="lead text-red font-weight-500 text-center"><i class="ni ni-pin-3"></i> {{localData.get("districtName")}}</p> 
            <p class="lead text-red font-weight-500 text-center">Size en uygun kategoriler hangisi?</p>
            <div class="row text-center"> 
                <div class="col-3" style="margin-bottom: 20px;" *ngFor="let cat of categories;index as i">
                    <img (click)="changeSelected(i)" src="/assets/img/img-category/icons/{{cat.color}}{{cat.IconUrl}}" class="category-icon" alt="...">
                    <span class="text-red">{{cat.Name}}</span>  
                </div>
            </div>
            <a href="#/default" class="btn btn-red" type="button">Geri</a>
            <a href="#/properties?selectedCategories={{this.selectedCategories.toString()}}" class="btn btn-red float-right" type="button">Devam</a>
          </div>
        </div>
      </section>
    </div>
    <!-- <app-sections></app-sections> -->
  </main>
  