<main>
    <div>

      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <p class="lead text-white text-center"><i class="ni ni-pin-3"></i> {{localData.get("districtName")}}</p> 
            <p class="lead text-red font-weight-500 text-center">Senin için bir mekanda olmazsa olmaz özellikler nelerdir?</p>
            <div class="row text-center"> 
              <div class="col-3" style="margin-bottom: 20px;" *ngFor="let prop of properties;index as i">
                <img (click)="changeSelected(i)" src="/assets/img/img-category/icons/{{prop.color}}{{prop.Properties.IconUrl}}" class="rounded" alt="...">
                <span class="text-red">{{prop.Properties.Name}}</span>  
            </div>
            </div>
            <a href="#/suggestions?categories={{this.selectedCategories.toString()}}&properties={{this.selectedProperties.toString()}}" class="btn btn-red float-right" type="button">Mekanları Gör</a>
          </div>
        </div>
      </section>
    </div>
    <!-- <app-sections></app-sections> -->
  </main>
  