.d-none {
  display: none;
}
.d-block {
  display: block;
}

.user-favorite {
  color: #ffad1f !important;
}

.message-text {
  height: 150px;
}

.favorite-button {
  margin-left: 30px;
}

.top-button-size {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.propItems{
  margin-right: 5px;
  margin-bottom: 10px;
}

.categories{
  margin-top: 10px;
}
