<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0 content-background">
  
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="lead text-red font-weight-500 text-center mb-50">Kategorilerimiz</p>
          </div>
          <div class="col-4 mb-3" *ngFor="let category of allCategories;index as i">
            <a href="#/category-details?categoryId={{category.Id}}">
              <div class="card bg-dark text-white">
                <img class="card-img" src="./assets/img/content/galata.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h3 class="card-title text-center">{{category.Name}}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>