<div>
  <div class="container shape-container d-flex">
    <div class="col px-0">
      <h1 class="lead text-center text-red font-weight-500">Yorumlarım</h1>
    </div>
  </div>
  <div class="container mb-3">
    <div class="card mt-3" *ngFor="let comment of comments;index as i">
      <a href="#/details?placeId={{comment.PlaceId}}">
        <div class="card-body">
          <h5 class="card-title text-red">{{comment.Users.Name}} 
            <div class="float-right star-color" *ngFor='let in of counter(comment.Point)'>
              <i class="fa fa-star"></i>
            </div>
          </h5>
          <h6 class="card-subtitle text-muted">
            {{comment.Users.Title}}
          </h6>
          <hr class="mb-1" />
          <p class="card-text text-muted">{{comment.Text}}</p>
          
        </div>
      </a>
    </div>
    <div class="alert alert-secondary btn-red" [ngClass]="{'d-none' : comments.length > 0}" role="alert">
     Yorum bulunamadı..
    </div>
  </div>
</div>


